BODY
{
	background: #fff url(../_style/images/bg.gif) repeat-x;
	font-family: Tahoma, Arial, Sans-Serif;
	background-color: #A1ADDF;
}
H1, H2, H3, H4
{
	font-family: Helvetica, Tahoma, Arial, Sans-Serif;
}
/*
INPUT[type=checkbox]
{
	width: 1.5em;
	height: 1.5em;
}
*/




#mainContainer
{
	padding-top: 5px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#content
{
	background-color: white;
	padding: 0 5px 25px 5px;
	margin-left: auto;
	margin-right: auto;
}


/* Sidebar_Widget */
#sidebar-nav {
  font-family: ufshands, sans-serif;
  font-size: 1.2em;
  position: relative;
  margin-top: 4px;
}

#sidebar-nav li {
  position: relative;
}

#sidebar-nav .shadow {
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent url(images/bg-sidebar-nav-li.png) right top repeat-y;
  z-index: 10;
}

#sidebar-nav ul {
  margin: 0;
}

#sidebar-nav li {
  position: relative;
  margin: 0;
}

.ie7 #sidebar-nav li {
  height: 100%;
  display: inline;
}

#sidebar-nav ul ul {
  padding-left: 0;
  font-size: .9em;
}

#sidebar-nav ul ul a {
  padding-left: 40px;
  background-color: #FFF;
}

#sidebar-nav ul ul ul a {
  padding-left: 60px;
  background: #FFF url(images/bg-sprite-transparent.png) -996px -56px no-repeat;
}

#sidebar-nav a {
  display: block;
  padding: 8px 25px;
  background-color: #F2F2F2;
  border-top: 1px solid #FCFCFC;
  border-bottom: 2px solid #E0E0E0;
}

#sidebar-nav li li a {
  border-bottom: 1px solid #E0E0E0;
  border-top: none;
  background: #FFF url(images/bg-sprite-transparent.png) -1065px -1px no-repeat;
}

#sidebar-nav a:hover {
  background-color: #D7DEF0;
}

#sidebar-nav .current_page_item > a,
#sidebar-nav .current_page_item > a:hover  {
  color: #FFF;
  background-color: #243778; /* Dark Blue */
  background-image: none;
  text-decoration: none;
  cursor: default;
}

#sidebar-nav span.active,
#sidebar-nav span.active:hover {
  background: transparent url(/_style/images/bg-sprite-transparent.png) -879px -107px no-repeat;
  display: block;
  position: absolute;
  top: 5px;
  left: -7px;
  height: 27px;
  width: 27px;
}

#sidebar-nav ul ul .active {
  top: 3px;
}

#sidebar-nav h4 {
  color: #95A2CF;
  padding-left: 22px;
  margin-bottom: .4em;
}

#sidebar-nav .last {
  border-bottom: none;
}

/* Header */
#header *, #footer *
{
	padding: 0;
	margin: 0;
}
#header
{
	height: 28px;
}
#header H1.home
{
	position: relative;
	height: 40px;
	width: 250px;
	top: -13px;
	left: 0;
	font-size: 14px;
}
#header DIV.T_notif
{
	position: relative; /*height: 40px;*/
	width: 300px;
	top: -53px;
	left: 400px;
	font-size: 20px;
	font-weight: bold;
	color: #FF0000; /*background-color: Red;*/
	text-align: center;
}
#header H2.uf
{
	position: relative;
	height: 40px;
	width: 250px;
	top: -53px;
	left: 814px;
	font-size: 14px;
    
    /*position: relative;
    width: 181px;
	height: 40px;
	top: 0px;
	left: 814px;
	overflow: hidden;
	font-size: 14px;*/
}

/* Footer */
#footer
{
	background-color: White;
	border-top: solid 1px gray;
	height: 100px;
}

#footer .uftag
{
	position: relative;
	left: 5px;
	top: 10px;
	width: 180px;
}

#footer .tbadoption
{
    position: relative;
	left: 525px;
	top: 10px;
	width: 180px;

	/*position: relative;
	top: -93px;
	left: 780px;
	width: 200px;*/
}
#footer UL.ufcommunity
{
	position: relative;
	top: -53px;
	font-size: 0.75em;
	font-weight: normal;
	text-align: center;
	list-style: none;
}
#mediaspace
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    }
#videos
{
text-align:center;
}
INPUT.action, INPUT.actionType_Button
{
	background-color: #DDF;
	font-size: 1.1em;
	font-weight: normal;
	padding: 0 5px 0 5px;
	min-width: 125px;
}
SELECT
{
	font-size: 1.05em;
	padding-left: 0.5em;
}
H3
{
	font-size: 1.4em;
}
H4
{
	color: #0000A0;
	border-top: 2px solid #0000A0;
	margin-bottom: 0;
	font-size: 1.15em;
	padding-left: 0.5em;
}

/* Menu */
DIV.menu
{
	background-color: #E6F0D8;
	text-align: center;
	padding: 5px 0 5px 0;
}
DIV.menu UL, DIV.menu UL LI
{
	list-style-type: none;
	display: inline;
}
DIV.menu A, DIV.menu A:link, DIV.menu A:visited
{
	color: #0021A5;
	padding: 0 5px 0 5px;
}
DIV.menu A:hover
{
	color: #F57A00;
}
DIV.menu .additional
{
	font-size: 0.8em;
}

/* General */
.notes
{
	font-size: 0.85em;
	margin-top: 0;
	color: #717171;
	text-align: left;
}
.footnotes
{
	font-size: 0.85em;
	margin-top: 0;
	color: #717171;
	text-align: left;
	background-color: #FFFFFF;
}
.mainnotes
{
	font-size: 0.85em;
	margin-top: 0;
	color: #717171;
	text-align: left;
	border-bottom: 0.2px solid #71A92A inherit;
	border-bottom-color: #71A92A;
	border-bottom-style: solid;
}
.error
{
	color: Red;
}
DIV.error
{
	width: 60%;
	margin: 0 auto 0 auto;
	font-size: 0.9em;
	padding: 0;
	border: 1px solid red;
	background-color: #FFFCB2; /*#F7F3C6;*/
}
DIV.header
{
	text-align: center;
	padding: 15px 0 5px 0;
}
DIV.header H3
{
	margin: 0;
}
SPAN.courseTitle
{
	font-size: 0.8em;
}
TH.numeric, TD.numeric
{
	text-align: right;
}
.bookcol
{
	font-family: Arial, Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
}
TD.action
{
	text-align: right;
}
.bookval
{
	font-family: Arial, Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
DIV.action
{
	text-align: right;
	margin-top: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 2px outset black;
}
/*
TABLE TH
{
    text-align: center;
    font-size: 0.8em;
	background-color: #B0B0B0;
	border: 1px solid white;
}
TABLE TH.row
{
    text-align: left;
    font-size: inherit;
	background-color: inherit;
	border: inherit;
	font-weight: normal;
}
*/

/* My Courses */
TABLE.myCourses
{
	margin: 0;
	border-collapse: collapse;
	padding: 0;
}
TABLE.myCourses TH
{
	text-align: center;
	font-size: 0.8em;
	border-bottom: 2px solid black;
}
TABLE.myCourses TH.sectionHeader
{
	background-color: Gray;
	color: White;
	border: 1px solid white;
}
TABLE.myCourses
{
	width: 100%;
}

TABLE.myCourses TH
{
	background-color: #B0B0B0;
	border: 1px solid white;
}
TABLE.myCourses TD.adoption
{
	padding: 0.2em 0.5em 0.2em 0.5em;
	border: 1px solid white;
	font-size: 0.9em;
}
TABLE.myCourses TD.action
{
	text-align: left; /*center;*/
	padding: 0 0.4em 0 0.4em;
}
TABLE.myCourses, TABLE.myCourses TBODY.myCourse
{
	border: 2px solid #D0D0D0;
}
TABLE.myCourses TBODY.myCourse.even
{
	background-color: #FFFFFF; /*#E5EBFF;*/
}
TABLE.myCourses TBODY.myCourse.even TD.adoption, TABLE.myCourses TBODY.myCourse.even TD.action
{
	background-color: #FFFFFF; /*#CCD7FF;*/ /*B3C3FF;*/
}
TABLE.myCourses TBODY.myCourse.odd
{
	background-color: #EEFFCC; /*#F7FFE5;*/
}
TABLE.myCourses TBODY.myCourse.odd TD.adoption, TABLE.myCourses TBODY.myCourse.odd TD.action
{
	background-color: #EEFFCC; /*E6FFB3;*/
}
TABLE.myCourses TD.course
{
	height: 2em;
	font-size: 0.9em;
}

/* My Departments */
DIV.myDepartments TABLE
{
	/*width: 90%;*/
	padding: 0;
	text-align: left;
}
DIV.myDepartments
{
	text-align: left;
	padding-bottom: 1em;
}
DIV.myDepartments TABLE.myDepartments
{
	margin: 0 auto 0 50px;
}
DIV.myDepartments TABLE.allDepartments
{
	width: 100%;
	text-align: left;
}
DIV.myDepartments TABLE.allDepartments SELECT
{
	font-size: 0.9em;
	text-align: left;
}
DIV.myDepartments TD.deptSelect
{
	font-size: 0.9em;
	text-align: left;
}

/* My Adoptions */
TABLE.myAdoptions
{
	margin: 0;
	border-collapse: collapse;
	padding: 0;
}
TABLE.myAdoptions TH
{
	text-align: center;
	font-size: 0.8em;
	border-bottom: 2px solid black;
}
TABLE.myAdoptions TD.course
{
	padding: 0.2em 0.5em 0.2em 0.5em;
	border: 1px solid white;
	font-size: 0.9em;
}
TABLE.myAdoptions
{
	width: 100%;
}
TABLE.myAdoptions TH
{
	background-color: #B0B0B0;
	border: 1px solid white;
}
TABLE.myAdoptions TD.adoption
{
	padding: 0.2em 0.5em 0.2em 0.5em;
	border: 1px solid white;
	font-size: 0.9em;
}
TABLE.myAdoptions TD.action
{
	text-align: left;
	padding: 0 0.4em 0 0.4em;
}
TABLE.myAdoptions, TABLE.myAdoptions TBODY.myAdoption
{
	border: 2px solid #D0D0D0;
}
TABLE.myAdoptions TBODY.myAdoption.even
{
	background-color: #E5EBFF;
}
TABLE.myAdoptions TBODY.myAdoption.even TD.course, TABLE.myAdoptions TBODY.myAdoption.even TD.action
{
	background-color: #E5EBFF; /*#CCD7FF;*/ /*B3C3FF;*/
}
TABLE.myAdoptions TBODY.myAdoption.odd
{
	background-color: #FFFFFF; /*#F7FFE5;*/
}
TABLE.myAdoptions TBODY.myAdoption.odd TD.course, TABLE.myAdoptions TBODY.myAdoption.odd TD.action
{
	background-color: #FFFFFF; /*#EEFFCC;*/ /*E6FFB3;*/
}
TABLE.myAdoptions TD.adoption
{
	height: 2em;
}

/* Course Select */
TABLE.courseSelect
{
	margin-left: 50px;
	text-align: left;
}
TABLE.courseSelect TH
{
	text-align: left;
	font-weight: normal;
	padding: 0;
	margin: 0; /*width: 20%;*/
	background-color: #FFFFFF;
	font-size: small;
}
TABLE.courseSelect INPUT[type=text], TABLE.courseSelect SELECT
{
	font-size: 1.05em;
	text-align: left;
}

/* Courses Info */
TABLE.coursesInfo
{
	width: 100%;
	border-collapse: collapse;
}
TABLE.coursesInfo CAPTION
{
	width: 100%;
	background-color: #DEDEDE;
	text-align: center;
}
TABLE.coursesInfo TH.action, TABLE.coursesInfo TD.action
{
	text-align: right;
}
TABLE.coursesInfo TH
{
	background-color: #B0B0B0;
	font-weight: normal;
	border: 1px solid black;
	border-right: 1px solid black;
}
TABLE.coursesInfo TD
{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
TABLE.coursesInfo TBODY
{
	border-bottom: 1px solid black;
}
TABLE.coursesInfo TBODY.mySection
{
	background-color: #EEB9B1;
}
TABLE.coursesInfo TR.previousAdopter
{
	background-color: #FFEEBB;
	font-size: 0.8em;
}

/* Books */
DIV.books TABLE
{
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
	padding-top: 10px;
}
DIV.books TABLE TD
{
	font-size: 0.9em;
	font-weight: normal;
	text-align: left;
	color: #000000;
}
DIV.books TABLE TD.action
{
	text-align: right;
}
DIV.books TABLE TH
{
	text-align: right;
	border-collapse: collapse;
	font-weight: lighter;
	font-size: 0.8em;
	color: #333333;
}
DIV.books TABLE.addBook INPUT.required, DIV.books TABLE.addBook SELECT.required
{
	background-color: #FFAAAA;
}
DIV.books TABLE.addBook INPUT, DIV.books TABLE.addBook SELECT
{
	font-size: 1.10em;
}
DIV.books TABLE.book
{
	border-collapse: collapse;
}
DIV.books TABLE.book TBODY.book
{
	border-bottom: 1px solid #000000;
}
DIV.books TABLE.book TBODY.book
{
	background-color: #FFFFCC;
}
DIV.books TABLE.addBook *
{
	padding: 0;
	margin: 0;
}

/* Suggested Books */
DIV.suggestedBooks.even
{
	background-color: #E6F0D8;
}
DIV.suggestedBooks.odd
{
	background-color: #D5E0C7;
}
DIV.suggestedBooks TABLE.addBook INPUT.required, DIV.suggestedBooks TABLE.addBook SELECT.required
{
	background-color: inherit;
}

/* Optional */
DIV.optional FIELDSET LEGEND
{
	color: #0000A0;
	margin-left: 1.5em;
}
DIV.optional FIELDSET INPUT, DIV.optional FIELDSET SELECT
{
	font-size: 1.05em;
}
DIV.optional FIELDSET P.question
{
	margin: 5px 0 5px 0;
}
DIV.optional SPAN.enrollment 
{
	 font-weight:bold;
	
}

/* Confirm */
P.alert
{
	color: #B00;
	font-size: 1.25em;
	font-weight: bold;
}

/* Pager */
DIV.pager
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
DIV.pager INPUT, DIV.pager SPAN
{
	width: 50px;
	height: 25px;
	margin-left: 25px;
}
DIV.pager SPAN.current
{
	border: 2px outset #DDDDDD;
	display: inline-block;
	height: 21px;
}
DIV.pager INPUT[disabled]
{
	background-color: White;
}
IMG
{
	border-width: 0px;
}

/*department summary page*/


DIV.departmentSummary
{
	/*background-color: #EFEFEF;*/
}
/*
        DIV.departmentSummary TABLE TH[scope=row], DIV.departmentSummary TABLE TH[scope=rowgroup]
        {
        	text-align: left;
            font-weight: normal;
        }
        DIV.departmentSummary TABLE TH[scope=col]
        {
        	background-color: #DFDFDF;
        }
        */
DIV.departmentSummary TABLE P.notes
{
	color: Black;
}
DIV.departmentSummary TABLE
{
	background-color: #EFEFEF;
}
DIV.departmentSummary DIV.header
{
	padding: 0.5em 0 0.5em 0;
	background-color: #E6F0D8; /*border-bottom: 2px solid black;             border-top: 2px solid black;             */
	margin-bottom: 15px;
}
DIV.departmentSummary DIV.header H3, DIV.departmentSummary DIV.header H4, DIV.departmentSummary DIV.header H5
{
	margin: 0;
	font-size: 1.25em;
}
DIV.departmentSummary DIV.header H4
{
	font-size: inherit;
	border-width: 0;
	color: inherit;
}
DIV.departmentSummary DIV.header H5
{
	font-size: 0.8em;
}

DIV.departmentSummary TABLE
{
	width: 100%;
	border-collapse: collapse;
}
DIV.departmentSummary TD, DIV.departmentSummary TH.row
{
	border: 1px solid #0000A0;
}
DIV.departmentSummary TABLE TH
{
	text-align: center;
	font-size: 0.8em;
	background-color: #B0B0B0;
	border: 1px solid #0000A0;
}
DIV.departmentSummary TABLE TH, DIV.departmentSummary TABLE TD
{
	padding-left: 0.5em;
	padding-right: 0.5em;
}
DIV.departmentSummary TABLE .action
{
	text-align: center;
}
DIV.departmentSummary TABLE .odd
{
	background-color: #FFFFFF;
}
DIV.departmentSummary TABLE.overview TH.row
{
	text-align: left;
	font-size: inherit;
	background-color: inherit;
	font-weight: normal;
}
DIV.departmentSummary TABLE.conflicting TH.course
{
	text-align: left;
	font-weight: normal;
	border: 1px solid black;
	font-size: 1em;
	background-color: #FFCCCC;
}

p.Vendor
{
		text-align: left;
	font-weight: normal;
	/*border-top: 1px solid #888888;*/
	font-size: 1em;
	background-color: #FFFFFF;
	
}

DIV.Vendor
{
	text-align: left;
	font-weight: normal;
	/*border-bottom: 2px solid black;*/
	font-size: 1em;
	background-color: #FFFFFF;
}

font.hf1
{
	font-size: 20px;
	font-weight: bold;
}

#div2 
{
    position:absolute;
    top:0px;
}